<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register MercadoLiebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href = "/css/register.css" rel = "stylesheet">
</head>
<body>
    <header>
        <div class="logo-serch">
        <div class="logo">
            <img src="/images/logo-mercado-liebre.svg" alt="no pudo cargar imagen">
        </div>
    <div class="buscador">
            <span class = "search-bar"> Buscar productos, marcas </span>
        <span class="lupa">
            <i class="fa-solid fa-magnifying-glass"></i>
        </span>
    </div>
            <div class="metodo"><i class="fa-solid fa-hand-holding-dollar" style="color: #000000;"></i> Comprá en cuotas y sin tarjeta de crédito </div>
        </div>
</header>

<section class="formulario">
    <form action="/" method="post">

            <input class="controles" type="text" name="nombre" placeholder="Nombre y Apellido">

            <input class="controles" type="text" name="nombreUsuario" placeholder="Ingresar Nombre de Usuario">

            <h2>Ingresar Fecha de nacimiento</h2>

        <input class="controles" type="date" value="2002/04/04" id="fecha">

            <input class="controles" type="text" name="Domicilio" placeholder="Ingrese su Domicilio">
        
        <h2>Usted la usara para</h2>
        <section class="radio">
            <div>
            <input  type="radio" name="usabilidad" value="Comprar"> &nbsp;&nbsp;Comprar</div>
            <div>
            <input  type="radio" name="usabilidad" value="Vender"> &nbsp;&nbsp;Vender</div>
        </section>
    <h2>Categoria de internet</h2>
    <section>
        <div class="controles"><input type="checkbox" name="eleccion" value="Electro"> &nbsp;&nbsp;Electro</div>
        <div class="controles"><input  type="checkbox" name="eleccion" value="Moda"> &nbsp;&nbsp;Moda</div>
        <div class="controles"><input  type="checkbox" name="eleccion" value="Hogar"> &nbsp;&nbsp;Hogar</div>
        <div class="controles"><input  type="checkbox" name="eleccion" value="Juguetería"> &nbsp;&nbsp;Juguetería</div>
        <div class="controles"><input  type="checkbox" name="eleccion" value="Vida Sana"> &nbsp;&nbsp;Vida Sana</div>
    </section>

        <h2>Seleccionar una foto para el perfil</h2>

        <input class="controles" type="file" name="perfil" accept=".jpg, .png">

        <h2>Contraseña</h2>

        <input class="controles" type="password" name="Contraseña" placeholder="Contraseña">

        <input class="controles" type="password" name="confirm" placeholder="Confirmar Contraseña">
    <section>
        <button class="boton" type="submit">Enviar</button>
        <button class="boton2" type="reset">Borrar</button>
    </section>
</form>
</section>
</body>
</html>